---
import SectionHeader from "../SectionHeader.astro";
import ProjectCard from "./ProjectCard.astro";
import projectData from "./ProjectData.json";
---

<section id="projects">
  <SectionHeader title="PROJECTS" headline="WHAT DO I HAVE TO SHOW?" />
  <div>
    {
      projectData.map((project) => (
        <ProjectCard
          title={project.title}
          duration={project.duration}
          description={project.description}
          image={project.image}
        />
      ))
    }
  </div>
</section>

<style>
  div {
    display: flex;
    /* Temporary while I figure out the project carousel */
    flex-wrap: wrap;
    gap: 40px;
    width: 100%;
  }
</style>