---
---

<div class="card">
  <!-- <img src="" alt=""> -->
  <div class="img-placeholder"></div>
  <h3>NOV 2022 - PRESENT</h3>
  <h1>Undergroundify</h1>
</div>

<style>
  .card {
    display: flex;
    flex-direction: column;
    max-width: 680px;
    background-color: red;
  }
  .img-placeholder {
    
  }
</style>
