:root {
  --primary: #202955;
  --panel-color: rgb(44, 57, 102, 0.5);
  --accent: #b663f8;
  --primary-text: #ffffff;
  --secondary-text: rgb(134, 151, 184, 0.7);
  --navbar: #1b1a4d;
  --navbar-button: #3b397e;
}

* {
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  transition: all 0.25s !important;
  margin: unset;
}

html {
  color-scheme: dark;
  scroll-behavior: smooth;
  scroll-padding-top: 75px;
}

img {
  display: block;
  max-width: 100%;
}

section {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding-top: 30px;
  gap: 20px;
}

button {
  min-width: 150px;
  padding: 10px 10px;
  background-color: var(--accent);
  cursor: pointer;
  border: none;
  border-radius: 5px;
}