---
import Navbar from "../components/navbar/Navbar.astro";
import SectionHeader from "../components/SectionHeader.astro";
import "../styles/application.css";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Outfit:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <meta name="generator" content={Astro.generator} />
    <title>Brent Nishioka</title>
  </head>
  <body>
    <header>
      <Navbar />
    </header>
    <main>
      <section>
        <h1 id="about">About</h1>
      </section>
      <section>
        <SectionHeader id="skills" title="SKILLS" headline="WHAT DO I HAVE UNDER MY BELT?"/>
      </section>
      <section>
        <SectionHeader id="projects" title="PROJECTS" headline="WHAT DO I HAVE TO SHOW?"/>
      </section>
      <section>
        <SectionHeader id="contact" title="CONTACT" headline="HOW CAN I REACH YOU?"/>
      </section>
    </main>
  </body>

  <style>
    main {
      background-color: var(--primary);
      padding: 75px 50px;
    }
    section {
      min-height: 100vh;
    }
  </style>
</html>
