---
import Navbar from "../components/navbar/Navbar.astro";
import SectionHeader from "../components/SectionHeader.astro";
import SkillSection from "../components/skills/SkillsSection.astro";
import "../styles/application.css";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Outfit:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <meta name="generator" content={Astro.generator} />
    <title>Brent's Portfolio</title>
  </head>
  <body>
    <header>
      <Navbar />
    </header>
    <main>
      <section id="about">
        <h1>About</h1>
      </section>
      <SkillSection />
      <section id="projects">
        <SectionHeader title="PROJECTS" headline="WHAT DO I HAVE TO SHOW?" />
      </section>
      <section id="contact">
        <SectionHeader title="CONTACT" headline="HOW CAN I REACH YOU?" />
      </section>
    </main>
  </body>
</html>
<style>
  main {
    background-color: var(--primary);
    padding: 75px 50px;
  }
</style>
