---
import SectionHeader from "../SectionHeader.astro";
import ContactField from "./ContactField.astro";
import ContactTextArea from "./ContactTextArea.astro";
---

<section id="contact">
  <div class="contact-wrapper">
    <SectionHeader title="CONTACT" headline="HOW CAN I REACH YOU?" />
    <p>Need to reach out? This is the place to do it!</p>
    <form action="submit">
      <div class="first-last-name">
        <ContactField fieldName="first name" fieldType="text" />
        <ContactField fieldName="last name" fieldType="text" />
      </div>
      <ContactField fieldName="email" fieldType="email" />
      <ContactTextArea fieldName="message" />
      <div class="form-footer">
        <button>Send</button>
      </div>
    </form>
  </div>
</section>

<style>
  .contact-wrapper {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 100%;
    height: 100%;
  }
  form {
    display: flex;
    flex-direction: column;
    gap: 25px;
  }
  .first-last-name {
    display: flex;
    width: 100%;
    gap: 25px;
  }
  p {
    font-size: 24px;
    font-weight: 400;
    color: var(--secondary-text);
  }
  .form-footer {
    display: flex;
    justify-content: end;
  }
</style>
